rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Only allow access from our Cloud Functions
      allow read, write: if false;
    }
  }
}